header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

body {
  background-color: #2c2f33;
}

.uiContainer {
  display: flex !important;
  flex-direction: column;
  color: #ffffff;
  width: 100% !important;
  min-height: 100vh;
  padding: 2em;
}

.titleImage {
  height: 80px;
  width: 80px;
  border-radius: 25em;
}

/* DiscordTable */

.dataTableContainer {
  width: 100%;
  height: 35vh;
  overflow-y: scroll;
  margin: 1em 0em;
}

.dataTable {
  margin-top: 1em;
}

.tableImage {
  max-width: 40px;
  max-height: 40px;
  border-radius: 25em;
}

.userTableCell {
  display: inline-flex;
  width: 100%;
}

.userTableCell p {
  padding-left: 1em;
  padding-top: 10px;
  font-weight: 80;
}

/* DiscordChannelButtons */

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.activeChannelButton {
  background-color: #7289da !important;
  color: white !important;
}

/* DiscordPieChart */

.pieChartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35vh;
  max-height: 35vh;
}
